*{
	text-align: center;
}
/*body{
	background: url(background.jpg);
	background: cover;
	background-repeat:   no-repeat;
    background-position: center center ;  
}*/
#navbar{
	padding: 10px;
}
a {
	font-size: 21px !important;
}
#cards {
	margin: 20px auto;
	padding: 30px;
	border-radius: 2%;
}
img {
    width:  150px;
    height: 150px;
}
